## CH02

### 1)

In [1]:
a = [1, 2, 3]
b = a
b

[1, 2, 3]

The script above is creating an array/list with 3 values and then setting another variable equal to the variable storing said array/list.

### 2)

In [2]:
a.append(4)
b

[1, 2, 3, 4]

The script above is appending a value to original list a, and since b is equal to list a it is reflecting the appended value.

### 3)

In [3]:
def append_element(some_list, element):
    some_list.append(element)

data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

The script above is defining a function append_element which appends a value to a given list, in this case the list data and appending value 4.

### 4)

In [4]:
3 / 2

1.5

The script above is dividing the int value of 3 with the int value of 2.

### 5)

In [5]:
a = 5.6
s = str(a)
print(s)

5.6

The script above is setting variable a to 5.6 and setting variable s to the string conversion of 5.6 so it would be stored as '5.6'.

## CH03

### 1)

In [6]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

The script above is creating two dicts a and b, then with the | operator is getting the union of the two resulting in eah occurring value from either dict, returning a new dict with all values that occurred in a and b without duplicates.

### 2)

In [7]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

The script above is creating a list called seq and then using the brackets 1:5 selecting the second item in the list to the sixth since the list index starts at 0. So index 1 to index 5.

### 3)

In [8]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

The script above is setting the seq list starting at index 3 equal to the list values, this is only calling index position 3 and 4, since it is 3 to 5 but not including 5. This now places the values of list [6,3] into the index positions 3 and 4.

### 4)

In [12]:
seq[:5]
seq[3:]

[6, 3, 6, 0, 1]

The script above is selecting in two different ways, the first [:5] is selecting the first 5 elements of the list seq, starting from 0 up until 5. The second [3:] is selecting everything after the first 3 elements of the list seq

### 5)

In [10]:
seq[::2]

[7, 3, 3, 0]

The script above is