# Script Assignment 6
## COP 4283 
### Fall 2023
Use the Tips dataset and address the following functions:

In [1]:
import pandas as pd
df = pd.read_csv('datasets/examples/tips.csv', parse_dates=True, index_col=0)
display(df)

             tip smoker   day    time  size
total_bill
16.99       1.01     No   Sun  Dinner     2
10.34       1.66     No   Sun  Dinner     3
21.01       3.50     No   Sun  Dinner     3
23.68       3.31     No   Sun  Dinner     2
24.59       3.61     No   Sun  Dinner     4
...          ...    ...   ...     ...   ...
29.03       5.92     No   Sat  Dinner     3
27.18       2.00    Yes   Sat  Dinner     2
22.67       2.00    Yes   Sat  Dinner     2
17.82       1.75     No   Sat  Dinner     2
18.78       3.00     No  Thur  Dinner     2

[244 rows x 5 columns]

## 1. Groupby tips on weekdays and weekends - 2 points

In [2]:
def day_type(day):
    if day in ['Sat','Sun']:
        return 'Weekend'
    else:
        return 'Weekday'

df['day_type'] = df['day'].apply(day_type)

display(df.groupby('day_type')['tip'].sum())

day_type
Weekday    223.79
Weekend    507.79
Name: tip, dtype: float64

## 2. Groupby smokers on weekdays and weekends  - 2 points

In [3]:
display(df.groupby(['smoker','day_type']).sum(numeric_only=True))

                    tip  size
smoker day_type
No     Weekday   131.57   121
       Weekend   320.20   282
Yes    Weekday    92.22    71
       Weekend   187.59   153

## 3. Groupby quartiles on total bill  - 2 points

In [4]:
df['quartile'] = pd.qcut(df.index, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
display(df.groupby('quartile').sum(numeric_only=True))

             tip  size
quartile
Q1        117.16   120
Q2        159.19   136
Q3        196.74   160
Q4        258.49   211

## 4. Calculate correlation for the following:
Smoker and Tip  - 1 point
Time and Tip  - 1 point
Day and Tip - 1 point

In [5]:
df['smoker_ct'] = df['smoker'].map({'Yes': 1, 'No': 0})
display(df['smoker_ct'].corr(df['tip']))

df['time_ct'] = df['time'].map({'Dinner': 1, 'Lunch': 0})
display(df['time_ct'].corr(df['tip']))

df['day_ct'] = df['day'].astype('category').cat.codes
display(df['day_ct'].corr(df['tip']))

0.0059285395278065815

0.12162906226028646

-0.011547626187567156

## 5. Create a pivot table with three levels of index - 1 point

In [6]:
df_reset = df.reset_index()

display(df_reset.pivot_table(values='total_bill', index=['day', 'time', 'smoker'], aggfunc='sum'))

                    total_bill
day  time   smoker
Fri  Dinner No           57.70
            Yes         178.26
     Lunch  No           15.98
            Yes          73.94
Sat  Dinner No          884.78
            Yes         893.62
Sun  Dinner No         1168.88
            Yes         458.28
Thur Dinner No           18.78
     Lunch  No          751.31
            Yes         326.24