# Script Assignment 3
## COP 4283 
### Fall 2023

## Use the movie lens dataset and address the following functions:

### Transform Titles lowercase to uppercase and uppercase to lowercase. - 1 point

In [1]:
import pandas as pd
df = pd.read_csv('datasets/movielens/movies.dat',delimiter='::',engine='python',names=['movie_id','movie_title','movie_genre'])
print("Uppercase")
display(df['movie_title'].str.upper())
print("Lowercase")
display(df['movie_title'].str.lower())

Uppercase

0                         TOY STORY (1995)
1                           JUMANJI (1995)
2                  GRUMPIER OLD MEN (1995)
3                 WAITING TO EXHALE (1995)
4       FATHER OF THE BRIDE PART II (1995)
                       ...
3878               MEET THE PARENTS (2000)
3879            REQUIEM FOR A DREAM (2000)
3880                      TIGERLAND (2000)
3881               TWO FAMILY HOUSE (2000)
3882                 CONTENDER, THE (2000)
Name: movie_title, Length: 3883, dtype: object

Lowercase

0                         toy story (1995)
1                           jumanji (1995)
2                  grumpier old men (1995)
3                 waiting to exhale (1995)
4       father of the bride part ii (1995)
                       ...
3878               meet the parents (2000)
3879            requiem for a dream (2000)
3880                      tigerland (2000)
3881               two family house (2000)
3882                 contender, the (2000)
Name: movie_title, Length: 3883, dtype: object

### Replace movie id with any number between 99 to 999 (use conditions as needed) - 1 point

In [2]:
from random import randint
df['movie_id'] = df.groupby('movie_id')['movie_id'].transform(lambda x: randint(99,999))
display(df)

,movie_id,movie_title,movie_genre
0,979,Toy Story (1995),Animation|Children's|Comedy
1,274,Jumanji (1995),Adventure|Children's|Fantasy
2,498,Grumpier Old Men (1995),Comedy|Romance
3,932,Waiting to Exhale (1995),Comedy|Drama
4,497,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,915,Meet the Parents (2000),Comedy
3879,660,Requiem for a Dream (2000),Drama
3880,353,Tigerland (2000),Drama
3881,443,Two Family House (2000),Drama
3882,484,"Contender, The (2000)",Drama|Thriller

### Finds the first match on Genres - 1 point
find animation children's or comedy in the data.

In [3]:
df['first_genre'] = df['movie_genre'].apply(lambda x: x.split('|')[0] if '|' in x else x)
display(df[df['first_genre'].str.contains('Animation')])

,movie_id,movie_title,movie_genre,first_genre
0,979,Toy Story (1995),Animation|Children's|Comedy,Animation
12,342,Balto (1995),Animation|Children's,Animation
47,418,Pocahontas (1995),Animation|Children's|Musical|Romance,Animation
236,955,"Goofy Movie, A (1995)",Animation|Children's|Comedy|Romance,Animation
241,407,Gumby: The Movie (1995),Animation|Children's,Animation
...,...,...,...,...
3685,646,"Adventures of Rocky and Bullwinkle, The (2000)",Animation|Children's|Comedy,Animation
3690,788,Fun and Fancy Free (1947),Animation|Children's|Musical,Animation
3706,586,Make Mine Music (1946),Animation|Children's|Musical,Animation
3707,253,Melody Time (1948),Animation|Children's|Musical,Animation
3730,236,Pokémon the Movie 2000 (2000),Animation|Children's,Animation

### Substitute comedy genres with horror - 1 point
use subsitute

In [4]:
df['movie_genre'] = df['movie_genre'].str.replace('Comedy','Horror',regex=True)
display(df)

,movie_id,movie_title,movie_genre,first_genre
0,979,Toy Story (1995),Animation|Children's|Horror,Animation
1,274,Jumanji (1995),Adventure|Children's|Fantasy,Adventure
2,498,Grumpier Old Men (1995),Horror|Romance,Comedy
3,932,Waiting to Exhale (1995),Horror|Drama,Comedy
4,497,Father of the Bride Part II (1995),Horror,Comedy
...,...,...,...,...
3878,915,Meet the Parents (2000),Horror,Comedy
3879,660,Requiem for a Dream (2000),Drama,Drama
3880,353,Tigerland (2000),Drama,Drama
3881,443,Two Family House (2000),Drama,Drama
3882,484,"Contender, The (2000)",Drama|Thriller,Drama

### Split Genre by the prefix - 1 point
refer to ch07 code prefix

In [5]:
df['split_genre'] = df['movie_genre'].apply(lambda x: x.split('|'))
display(df)

,movie_id,movie_title,movie_genre,first_genre,split_genre
0,979,Toy Story (1995),Animation|Children's|Horror,Animation,"[Animation, Children's, Horror]"
1,274,Jumanji (1995),Adventure|Children's|Fantasy,Adventure,"[Adventure, Children's, Fantasy]"
2,498,Grumpier Old Men (1995),Horror|Romance,Comedy,"[Horror, Romance]"
3,932,Waiting to Exhale (1995),Horror|Drama,Comedy,"[Horror, Drama]"
4,497,Father of the Bride Part II (1995),Horror,Comedy,[Horror]
...,...,...,...,...,...
3878,915,Meet the Parents (2000),Horror,Comedy,[Horror]
3879,660,Requiem for a Dream (2000),Drama,Drama,[Drama]
3880,353,Tigerland (2000),Drama,Drama,[Drama]
3881,443,Two Family House (2000),Drama,Drama,[Drama]
3882,484,"Contender, The (2000)",Drama|Thriller,Drama,"[Drama, Thriller]"

## Using regular expression

### 1. Provide a regular expression that may be used to extract complete email addresses. Use my email id ramya.akula@ucf.edu

In [6]:
import re
prompt = "Provide a regular expression that may be used to extract complete email addresses. Use my email id ramya.akula@ucf.edu "
email_pattern = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}"
re.findall(email_pattern, prompt)

['ramya.akula@ucf.edu']

### 2. This time write a regex to get only the part of the email before the "@" sign and include the "@" sign.

In [7]:
prefix_pattern = r"[a-zA-Z0-9._%+-]+@"
re.findall(prefix_pattern, prompt)

['ramya.akula@']

### 3. This time write a regex to get only the part of the email after the "@" sign and exclude the "@" sign.

In [8]:
suffix_pattern = r"(?<=@)[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}"
re.findall(suffix_pattern, prompt)

['ucf.edu']

### 4. Find the words with exactly 8 letters using regex. '''Au pays parfume que le soleil caresse, J'ai connu, sous un dais d'arbres tout empourpres Et de palmiers d'ou pleut sur les yeux la paresse, Une dame creole aux charmes ignores.'''

In [9]:
prompt = "Au pays parfume que le soleil caresse, J'ai connu, sous un dais d'arbres tout empourpres Et de palmiers d'ou pleut sur les yeux la paresse, Une dame creole aux charmes ignores."
eight_letter_words = r"\b[a-zA-Z]{8}\b"
re.findall(eight_letter_words, prompt)

['palmiers']

### 5. You are given stock prices for related financial tickers. (Symbols representing companies in the stock market). Find a way to extract the tickers mentioned in the report. i.e.: TSLA, NFLX ..."""Some of the prices were as following TSLA:749.50, ORCL: 50.50, GE: 10.90, MSFT: 170.50, BIDU: 121.40. As the macroeconomic developments continue we will update the prices. """

In [10]:
prompt = "Some of the prices were as following TSLA:749.50, ORCL: 50.50, GE: 10.90, MSFT: 170.50, BIDU: 121.40. As the macroeconomic developments continue we will update the prices."
ticker_pattern = r"\b[A-Z]{2,5}\b"
re.findall(ticker_pattern, prompt)

['TSLA', 'ORCL', 'GE', 'MSFT', 'BIDU']